body,
html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: beige;
}
.movies-list, .single-movie {
    margin-top: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.movies-list {
    list-style: none;
}
.movie-poster {
    width: 200px;
}

.buttons-block {
    display: flex;
    justify-content: center;
}

.buttons-block button {
    margin-left: 2vw;
}

.all-movies {
    overflow-y: scroll;
    max-height: 40vw;
}

.movie-item {
    display: flex;
    margin-bottom: 5vw;
}
.movie-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15vw;
    justify-content: space-between;
}

.movie-title {
    display: flex;
    justify-content: center;
}

.movie-descripton {
    width: 400px;
}